name: experiment
timestamp: ${now:%Y%m%d%H%M}

trainer_params:
  resume_from_checkpoint: False
  num_workers: 4
  max_epochs: 10
  checkpoint: ${abs_path:outputs/checkpoints}
  record_path: ${abs_path:outputs/memory_records}
  device: cuda

hparams:
  batch_size: 16
  lr: 0.001
  env: savanna-gym-v2
  env_entry_point: "aintelope.environments.savanna_gym:SavannaGymEnv"
  env_type: gym
  model: dqn
  agent_id: instinct_agent
  gamma: 0.99
  sync_rate: 10
  replay_size: 99
  warm_start_size: 100
  eps_last_frame: 1000
  eps_start: 1.0
  eps_end: 0.01
  episode_length: 1010
  warm_start_steps: 100
  log_figures_every_n_epochs: 5
  env_params:
    num_iters: 1000 # duration of the game
    map_min: 0
    map_max: 5
    render_map_max: 5
    amount_agents: 1 # for now only one agent
    amount_grass_patches: 2
    amount_water_holes: 2
  agent_params:
    target_instincts: [hunger, thirst, curiosity]
