timestamp: ${now:%Y%m%d%H%M%S}
experiment_name: hunger
experiment_dir: outputs/${experiment_name}_${timestamp}/

trainer_params:
  resume_from_checkpoint: False
  num_workers: 4
  max_epochs: 10
  checkpoint: ${experiment_dir}/checkpoints/
  device: cpu
  verbose: false

hparams:
  batch_size: 16
  lr: 0.001
  env: savanna-gym-v2
  env_entry_point: "aintelope.environments.savanna_gym:SavannaGymEnv"
  env_type: gym
  model: dqn
  agent_id: instinct_agent
  gamma: 0.99
  sync_rate: 10
  replay_size: 99
  warm_start_size: 100
  eps_last_frame: 1000
  eps_start: 1.0
  eps_end: 0.01
  episode_length: 1010
  warm_start_steps: 100
  log_figures_every_n_epochs: 5
  every_n_epochs: 3 # how often save a model
  env_params:
    num_iters: 1000 # duration of the game
    map_min: 0
    map_max: 5
    render_mode: null
    render_map_max: 5
    amount_agents: 1 # for now only one agent
    amount_grass_patches: 1
    amount_water_holes: 0
  agent_params:
    target_instincts: [] 

hydra:
  run:
    dir: ${experiment_dir}/hydra_logs/
