timestamp: ${now:%Y%m%d%H%M%S}
experiment_name: hunger
experiment_dir: outputs/${experiment_name}_${timestamp}/

trainer_params:
  resume_from_checkpoint: False
  num_workers: 4
  max_epochs: 10
  checkpoint: ${experiment_dir}/checkpoints/
  device: cpu
  verbose: false

hparams:
  batch_size: 16
  lr: 0.001
  _env: savanna-zoo-parallel-v2
  _env_entry_point: "aintelope.environments.savanna_zoo:SavannaZooParallelEnv"
  _env_type: zoo
  env: savanna-zoo-sequential-v2
  env_entry_point: "aintelope.environments.savanna_zoo:SavannaZooSequentialEnv"
  env_type: zoo
  ___env: savanna-safetygrid-parallel-v1
  ___env_entry_point: "aintelope.environments.savanna_safetygrid:SavannaGridworldParallelEnv"
  ___env_type: zoo
  ____env: savanna-safetygrid-sequential-v1
  ____env_entry_point: "aintelope.environments.savanna_safetygrid:SavannaGridworldSequentialEnv"
  ____env_type: zoo
  model: dqn
  agent_id: q_agent
  gamma: 0.99
  sync_rate: 10
  replay_size: 99
  warm_start_size: 100    # TODO: how is this different from warm_start_steps below?
  eps_last_frame: 1000
  eps_start: 1.0
  eps_end: 0.01
  tau: 0.05
  num_episodes: 10 # how long to train
  episode_length: 1010
  warm_start_steps: 100     # TODO: how is this different from warm_start_size above?
  log_figures_every_n_epochs: 5
  every_n_episodes: 1 # how often save a model
  env_params:
    num_iters: 1000 # duration of a single episode (should be step, zoo needs iter?)
    map_min: 0
    map_max: 5
    render_mode: null
    render_map_max: 5
    amount_agents: 1 # for now only one agent
    amount_grass_patches: 1
    amount_water_holes: 0
  agent_params:
    target_instincts: []

hydra:
  run:
    dir: ${experiment_dir}/hydra_logs/
