name: Run pytest

on: [push]

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path:
            - 'requirements/aintelope.txt'
            - 'requirements/aintelope_dev.txt'
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install -r requirements/aintelope.txt
          pip install -r requirements/aintelope_dev.txt
      - name: Run tests
        run: python -m pytest --cov=aintelope test
